@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


html, body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #FFFFE0;
  scroll-behavior: smooth;
}


/*** QUICK CONTACT ***/
.quick-contact {
  margin-bottom: -7px;
  text-align: center;
}
.quick-contact a {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.quick-contact a i {
  color: red;
}
.quick-contact a:hover {
  color: red;
}
/*** END QUICK CONTACT ***/


/*** HEADER - MENU BUTTON ***/
header {
  position: relative;
  background-color: #FFFFE0;
  margin-top: -10px;
  margin-bottom: -17px;
}
header img {
  width: 85%;
  transition: 0.5s;
}
header.scrolled img {
  width: 80%;
}
header.scrolled .logo{
  position:relative;
  /*top:10px;
  left:0;*/
}
.menu-btn {
  position: absolute;
  right: 10px;
  width: 17%;
}
.hamburger .line{
  width: 36px;
  height: 3px;
  background-color: #000;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger:hover {
  cursor: pointer;
}
#hamburger-11{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#hamburger-11.is-active{
  animation: smallbig 0.6s forwards;
}
@keyframes smallbig {
  0%, 100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50%{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
#hamburger-11.is-active .line:nth-child(1),
#hamburger-11.is-active .line:nth-child(2),
#hamburger-11.is-active .line:nth-child(3){
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
#hamburger-11.is-active .line:nth-child(2){
  opacity: 0;
}
#hamburger-11.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}
#hamburger-11.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
/*** HEADER - END MENU BUTTON ***/


/*** PANEL ***/
.panel {
  padding: 40px;
  display: none;
  overflow: hidden;
}
.panel .panel-list a {
  color: #000;
  display: block;
  font-size: 2.2rem;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 12px;
  transition: 0.4s ease all;
}
.panel div a:hover {
  transform: scaleX(1.4);
  transition: 0.4s ease all;
}
.panel .panel-footer {
  margin-top: 22vh;
}
/*** END PANEL ***/



/********** HOME **********/
/*** HERO CAROUSEL ***/
.hero-carousel {
  padding-top: 50px 0;
  position: relative;
  margin: 30px 0;
}
.hero-carousel .carousel-item {
  max-height: 520px;
}
.hero-img {
  height: 487px;
  margin: auto;
  overflow: hidden;
}
.hero-img img {
  width: 100%;
  /*opacity: 0.9;*/
}
.hero-carousel .carousel-caption {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: caption;
  animation-duration: 4s;
  animation-delay: -2s;
}
@keyframes caption {
  50% {
    opacity: 0.5;
    top: 43%;
  }
}
.hero-carousel .carousel-caption p {
  color: #FFFFE0;
  font-size: 3.2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000;
}
.hero-carousel .carousel-caption button {
  background-color: #f5ba31;
  color: #111;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: bold;
  /*box-shadow: 2px 2px 9px #000000;*/
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
}
.hero-carousel .carousel-caption button:hover {
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

/*** BRIEF INFO ***/
.brief-info {
  margin-top: 7vh;
}
.brief-info .container-fluid { 
  /*display:flex;*/
  /*text-align:center;*/
}
.brief-info .info { 
  /*order: 1;*/
}
.brief-info .img {
}
.brief-info .img img {
  border-radius: 5px;
  /*box-shadow: 1px 1px 3px #000;*/
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
  animation-direction: reverse;
}
@keyframes slide {
    0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
@-webkit-keyframes slide {
    100% { left: 0; }
}
/*.brief-info .img:after {
  content:'';
  background: #FFFFE0;
  position: absolute;
  top: -10px;
  left: 0;
  width: 26%;
  height: 18vh;
}
.brief-info .img:after {
  top: auto;
  bottom: -10px;
  border-radius: 10% 100% 10% 100%;
}*/

/*** TESTIMONIALS ***/
.slider-area {
  background: linear-gradient(-100deg, #FFFFE0 50%, rgba(255, 199, 44, 0.1) 50%);
  padding-top: 50px 0;
  position: relative;
  margin: 100px 0;
}
.slider-area .container {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}
.semi-circle {
  position: absolute;
  height: 100px; 
  width: 200px; 
  border-radius:  0 0 150px 150px;
  padding: 0;
  margin-left: 5rem;
  background-image: radial-gradient(rgb(255,0,0) 0.1rem, transparent 1px);
  background-size: 20px 20px;
}
.slider-area .slider-header h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.slider-area .slider-header {
  padding-bottom: 1.5rem;
}
.slider-area .slider-header p {
  color: red;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: -9px;
}
.img-area {
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}
.img-area img {
  width: 100%;
}
.testimonials .carousel-caption {
  color: #000;
  position: static;
  margin-top: -15px;
}
.testimonials .carousel-caption p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  width: 70%;
  margin: auto;
}
.testimonials .carousel-caption h5 {
  font-weight: bold;
  margin-top: 5px;
} 
.testimonials .carousel-caption h6 {
  font-weight: lighter;
  margin-top: -12px;
}
.testimonials .carousel-control-prev-icon {
  background-image: url('../img/long-arrow-alt-left-solid.svg');
}
.testimonials .carousel-control-next-icon {
  background-image: url('../img/long-arrow-alt-right-solid.svg');
}
/********** END OF HOME **********/



/*** PAGE INTRO [BRIDGE] ***/
.page-hero {
  background-color: black;
  padding-top: 50px 0;
  position: relative;
  margin: 30px 0;
}
.page-hero-img {
  background-image: url("../img/bean.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 160px;
  margin: auto;
  overflow: hidden;
  opacity: 0.2;
}
.page-hero-img-text {
  color: #FFFFE0 !important;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-hero-img-text h3 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 3px;
}
.page-hero-img-text div {
  font-size: 1.3rem;
  margin-top: -10px;
  letter-spacing: 1px;
}
.page-hero-img-text div a {
 text-decoration: none;
 color: #FFFFE0;
}
.page-hero-img-text div span {
  color: gray;
}
/*** END OF PAGE INTRO [BRIDGE] ***/



/********** CONTACT US **********/
/*** CONTACT FORM and Contact Address ***/
.mainContact {
  margin: auto;
  margin-top: 13vh;
  margin-bottom: 10vh;
}
.contact-form input[type="text"], input[type="email"], textarea {
  background-color: #FFFFE0;
  /*border: 1px solid black;*/
}
.contact-form input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  background-color: #FFFFE0;
  box-shadow: none;
  border: 2px solid red;
}
.contact-form input::placeholder {
  color: rgb(0,0,0);
}
.contact-form input::-webkit-placeholder {
  color: gray;
}
.contact-form input::-moz-placeholder {
  color: gray;
}
.contact-form input::-ms-placeholder {
  color: gray;
}
.contact-form button {
  background-color: red;
  color: #FFFFE0;
}
.contact-address {
  padding-top: 5vh;
  padding-bottom: 5vh;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.5);
}
.contact-address-container {
  cursor: pointer;
}
.contact-address-container i {
  color: red;
}
.contact-address-container p {
  font-size: 1.5rem;
  color: rgb(105,105,105);
}
.contact-address-location, .contact-address-tele {
  font-weight: bold;
}
.contact-form button {
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.contact-form button:hover {
  color: #FFFFE0;
  padding-left: 25px;
  padding-right: 25px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

/*** Location on Google Map ***/
.location-map iframe {
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 20px;
}
/********** END CONTACT US **********/



/*** FOOTER ***/
footer {
  background-color: rgb(38, 40, 44);
  color: rgb(255, 255, 224);
  font-size: 1.2rem;
  overflow: hidden;
}
footer .footer-1 {
  background-color: rgba(255, 255, 224, 0.05);
  /*margin-top: 0.5vh;*/
}
footer .footer-1 .container {
  margin: auto;
  padding-top: 7vh;
  padding-bottom: 6vh;
}
footer .footer-contact-heading {
  display: block;
  line-height: normal;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 2vh;
}
footer .widget-contact-info ul {
  padding: 0;
  margin: 0;
}
footer .widget-contact-info ul li {
  display: block;
  padding-bottom: 0;
  margin-bottom: 10px;
  line-height: normal;
  list-style: none;
}
footer .widget-contact-info ul li>span {
  display: table-cell;
}
footer .widget-contact-info .contact-info-icon {
  color: red;
  padding-top: 4px;
  padding-right: 10px;
  /*vertical-align: top;*/
}
footer .widget-contact-info .contact-info-heading {
  display: block;
  font-size: 18px;
  line-height: normal;
  font-weight: bold;
  margin-bottom: 5px;
  letter-spacing: 1px;
}
footer .widget-contact-info .contact-info-details {
  line-height: 24px;
}
footer .footer-2 {
  margin: auto;
  margin-top: 3.5vh;
  margin-bottom: 2vh;
}
footer .footer-2 p span {
  font-size: 2rem; 
  vertical-align: middle;
}
footer .footer-2 .phealipto a {
  color: rgb(255, 255, 224); 
}
footer .connect .connect-icon {
  padding-right: 5px;
}
.connect .connect-icon i {
  color: red;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.connect .connect-icon i:hover {
  color: #FFFFE0;
}
/*** END FOOTER ***/



/*** MEDIA QUERIES ***/
/*No media query for `xs` since this is the default in Bootstrap*/

/*Extra small devices {xs} (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .semi-circle {
    display: none;
  }

  .hero-carousel .carousel-item {
    max-height: 180px;
  }
}


/*Small devices {sm} (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {}


/*Medium devices {md} (tablets iPad, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {}


/*Large devices {lg} (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}


/*Extra large devices {xl} (large desktops, 1200px and up)*/
@media (min-width: 1200px) {} 