@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #FFFFE0;
  scroll-behavior: smooth;
}


/*** QUICK CONTACT ***/
.quick-contact {
  margin-bottom: -7px;
  text-align: center;
}
.quick-contact a {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.quick-contact a i {
  color: red;
}
.quick-contact a:hover {
  color: red;
}
/*** END QUICK CONTACT ***/


/*** HEADER - MENU BUTTON ***/
header {
  position: relative;
  background-color: #FFFFE0;
  height: 90px;
  z-index: 50;
  width: 100%;
  overflow: hidden;
  margin-top: -9px;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
header .site-head-logo img {
  width: 25%;
  padding: .3rem;
  margin-top: -.3rem;
  transition: 0.5s;
}
header.fixed {
  position: fixed;
  top:0; 
  left:0;
  height: 90px;
  padding-top: 2.5vh;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
header.fixed .site-head-logo img {
  width: 22%;
  padding: .7rem;
  margin-top: -.6rem;
}
header.fixed .ul-menu ul li a {
  font-size: 1.3rem;
}
header .ul-menu {
  position: relative;
  /*line-height: normal;*/
}
header .ul-menu ul { 
  list-style-type: none;
  text-align: right;
}
header .ul-menu ul li { 
    display: inline-block;
    margin-left: 35px;
}
header .ul-menu ul li a {
  text-decoration: none; 
  color: #000;
  font-size: 1.5rem;
  font-weight: 550;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .ul-menu ul li a:hover {
  font-weight: bold;
  transition: 0.4s ease all;
}
header .ul-menu ul li a:after {
  content: ""; 
  display: block;
  width: 0;
  margin: -7px auto;
  border-bottom: 2px solid red;
  transform: scaleX(0);
  -webkit-transition: .25s linear;
  -o-transition: .25s linear;
  transition: .25s linear;
}
header .ul-menu ul li a:hover:after {
  width: 75%; 
  transition: 0.4s ease all;
  transform: scaleX(1.2);
}
header .ul-menu ul li a.active {
  font-weight: bold;
}
header .ul-menu ul li a.active:after {
  content: ""; 
  display: block;
  width: 80%;
  margin: -7px auto;
  border-bottom: 2px solid red;
  transform: scaleX(1.2);
  -webkit-transition: .25s linear;
  -o-transition: .25s linear;
  transition: .25s linear;
}
.menu-btn {
  position: absolute;
  right: 10px;
  width: 17%;
}
.hamburger .line{
  width: 36px;
  height: 3px;
  background-color: #000;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger:hover {
  cursor: pointer;
}
#hamburger-11{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#hamburger-11.is-active{
  animation: smallbig 0.6s forwards;
}
@keyframes smallbig {
  0%, 100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50%{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
#hamburger-11.is-active .line:nth-child(1),
#hamburger-11.is-active .line:nth-child(2),
#hamburger-11.is-active .line:nth-child(3){
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
#hamburger-11.is-active .line:nth-child(2){
  opacity: 0;
}
#hamburger-11.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}
#hamburger-11.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
/*** HEADER - END MENU BUTTON ***/


/*** PANEL ***/
.panel {
  padding: 40px;
  display: none;
  overflow: hidden;
}
.panel .panel-list a {
  color: #000;
  display: block;
  font-size: 2.2rem;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 12px;
  transition: 0.4s ease all;
}
.panel div a:hover {
  transform: scaleX(1.4);
  transition: 0.4s ease all;
}
.panel .panel-footer {
  margin-top: 22vh;
}
/*** END PANEL ***/



/********** HOME **********/
/*** HERO CAROUSEL ***/
.hero-carousel {
  /*padding-top: 50px 0;*/
  position: relative;
  /*margin: 30px 0;*/
}
.hero-carousel .carousel-item {
  max-height: 520px;
}
.hero-img {
  height: 487px;
  margin: auto;
  overflow: hidden;
}
.hero-img img {
  width: 100%;
  /*opacity: 0.9;*/
}
.hero-carousel .carousel-caption {
  text-align: center;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*animation-name: caption;
  animation-duration: 5s;
  animation-delay: -3s;*/
}
/*@keyframes caption {
  0% {
    opacity: 0;
    top: 0%;
  }
  25% {
    opacity: 0;
    top: 0%;
  }
  50% {
    opacity: 0.5;
    top: 30%;
  }
  100% {
    opacity: 1;
    top: 47%;
  }
}*/
.hero-carousel .carousel-caption p {
  color: #FFFFE0;
  font-size: 3.2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000;
}
.hero-carousel .carousel-caption button {
  background-color: red;
  color: #FFFFE0;
  font-size: 1.5rem;
  border: none;
  /*box-shadow: 2px 2px 9px #000;*/
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.hero-carousel .carousel-caption button:hover {
  transform: scaleX(1.1);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}


/*** WELCOME TO EM2GEE FOODS ***/
.welcome-em2gee {
  margin-top: 12vh;
}
.welcome-em2gee .welcome-em2gee-content-1 {
  text-align: center;
}
.welcome-em2gee .welcome-em2gee-content-1 h1 {
  font-weight: bold;
}
.welcome-em2gee .welcome-em2gee-content-1 h1:after {
  content: ""; 
  display: block;
  width: 10%;
  margin: 0 auto;
  border-bottom: 4px solid red;
}
.welcome-em2gee .welcome-em2gee-content-1 p {
  font-size: 1.2rem;
  padding-top: 1.4vh;
}
.welcome-em2gee-content-2 {
  margin-top: 9vh;
}
.welcome-em2gee-content-2 .welcome-em2gee-box-1,
.welcome-em2gee-content-2 .welcome-em2gee-box-2,
.welcome-em2gee-content-2 .welcome-em2gee-box-3 {
  position: relative;
  border-radius: 5px;
  padding: 5vh;
  box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.16), 
              0 8px 8px rgba(0,0,0,0.20);
}
.welcome-em2gee-box-1 {
  background-color: red;
  color: #FFFFE0;
}
.welcome-em2gee-box-1 .welcome-em2gee-box-icon i {
  color: #FFFFE0;
}
.welcome-em2gee-box-1 .welcome-em2gee-box-details h3:after {
  content: ""; 
  display: block;
  width: 10%;
  border-bottom: 2px solid #FFFFE0;
}
.welcome-em2gee-box-2,
.welcome-em2gee-box-3 {
  background-color: rgba(0,0,0,0.9);
  color: #FFFFE0;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}
.welcome-em2gee-box-2.bg-red,
.welcome-em2gee-box-3.bg-red {
  background-color: rgba(255, 0, 0, 0.95);
  color: #FFFFE0;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}
.welcome-em2gee-box-icon i {
  color: red;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.welcome-em2gee-box-2 .welcome-em2gee-box-icon i.color-icon,
.welcome-em2gee-box-3 .welcome-em2gee-box-icon i.color-icon {
  color: #FFFFE0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.welcome-em2gee-box-details {
  position: relative;
  padding-top: 9vh;
}
.welcome-em2gee-box-details h3 {
  font-weight: bold;
}
.welcome-em2gee-box-details h3:after {
  content: ""; 
  display: block;
  width: 10%;
  border-bottom: 2px solid red;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.welcome-em2gee-box-2 .welcome-em2gee-box-details h3.color-border:after,
.welcome-em2gee-box-3 .welcome-em2gee-box-details h3.color-border:after {
  content: ""; 
  display: block;
  width: 10%;
  border-bottom: 2px solid #FFFFE0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.welcome-em2gee-box-details p {
  font-size: 1.2rem;
  padding-top: 1.4vh;
}


/*** BRIEF INFO ***/
.brief-info {
  margin-top: 20vh;
}
.brief-info .brief-info-details {
  margin-bottom: 6.1vh;
}
.brief-info .brief-info-details h3 {
  font-weight: bold;
  padding-bottom: 3vh;
}
.brief-info .brief-info-details p {
  font-size: 1.3rem;
}
.brief-info .brief-info-btn {
  padding-top: 3vh;
}
.brief-info .brief-info-btn button {
  background-color: red;
  color: #FFFFE0;
}
.brief-info .brief-info-btn i {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.brief-info .brief-info-btn i.adjust-arrow {
  padding-left: 5px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.brief-info .brief-info-img {
  position: relative;
}
.brief-info .brief-info-img img {
  width: 100%;
  /*position: relative;*/
  margin-bottom: 10px;
  border-radius: 5px;
  /*box-shadow: 1px 1px 3px #000;*/
}
.brief-info .brief-info-img:after {
  content:'';
  position: absolute;
  background-color: red;
  width: 7px;
  height: 50%;
  bottom: 0;
  right: -10px;
  border-radius: 5px;
}
.brief-info .brief-info-img:before {
  content:'';
  position: absolute;
  background-color: red;
  width: 25%;
  height: 7px;
  bottom: 0;
  right: -10px;
  border-radius: 5px;
}

/*** EM2GEE RECORDS ***/
.em2gee-records {
  background-color: red;
  color: #FFFFE0;
  margin-top: 18vh;
  padding: 7vh;
}
.em2gee-records .em2gee-records-details {
  position: relative;
  text-align: center;
}
.em2gee-records .em2gee-records-details span {
  font-size: 3.5rem;
  font-weight: bold;
}
.em2gee-records .em2gee-records-details h3 {
  font-size: 1.5rem;
}

/*** Em2gee Specials ***/
.em2gee-specials {
  margin-top: 7vh;
  margin-bottom: 8vh;
  padding: 7vh;
}
.em2gee-specials .em2gee-specials-header {
  margin-bottom: 8vh;
  text-align: center;
}
.em2gee-specials .em2gee-specials-header h2 {
  font-weight: bold;
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
}
.em2gee-specials .em2gee-specials-header h2:before {
  content: '';
  display: block;
  height: 1px;
  background-color: black;
  width: 1em;
  position: absolute;
  top: 0.5em;
  left: -1.3em; 
}
.em2gee-specials .em2gee-specials-header h2:after {
  content: '';
  display: block;
  height: 1px;
  background-color: black;
  width: 1em;
  position: absolute;
  top: 0.5em;
  right: -1.3em; 
}
.em2gee-specials .em2gee-specials-header p {
  color: red;
  font-weight: bold;
  font-size: 2rem;
  margin-top: -9px;
}
.em2gee-specials-img {
  width: 30vh;
  margin: 0 auto 4vh auto;
  border-radius: 20%;
  overflow: hidden;
  /*border: 5px solid red;*/
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.em2gee-specials-img.border-curve { 
  border-radius: 30%;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.em2gee-specials-img img {
  width: 100%;
  /*overflow: hidden;*/
}
.em2gee-specials-details {
  text-align: center;
}
.em2gee-specials-details p {
  font-size: 1.05rem;
  padding: 1vh 1vh;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.em2gee-specials-details p.color-red {
  color: red;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

/*** Cooking Pleasure ***/
.cooking-pleasure-wrapper {
  background-color: black;
  position: relative;
  /*margin: 30px 0;*/
  height: 60vh;
}
.cooking-pleasure-hero {
  background: url('../img/kitchen-set.jpg') center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: table;
  height: 60vh;
  width: 100%;
  margin: auto;
  overflow: hidden;
  opacity: 0.5;
}
.cooking-pleasure-content {
  position: absolute;
  color: #FFFFE0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cooking-pleasure-content h1 {
  text-shadow: 2px 2px 4px #000;
  font-weight: 500;
  font-size: 3rem;
  line-height: 10vh;
  letter-spacing: 1px;
}
.cooking-pleasure-content h1:nth-child(2) {
  font-family: 'Libre Baskerville', serif;
  font-style: italic; 
  color: red;
  line-height: 1em;
  position: relative;
  display: inline-block;
}
.cooking-pleasure-content h1:nth-child(2):after {
  content: '';
  height: 1px;
  background-color: red;
  width: 1em;
  position: absolute;
  top: 0.5em;
  left: -1.3em;
}
.cooking-pleasure-content h1:nth-child(2):before {
  content: '';
  height: 1px;
  background-color: red;
  width: 1em;
  position: absolute;
  top: 0.5em;
  right: -1.3em;
}

/*** TESTIMONIALS ***/
.slider-area {
  background: linear-gradient(-100deg, #FFFFE0 50%, rgba(255, 199, 44, 0.15) 75%);
  padding-top: 50px 0;
  position: relative;
  margin: 100px 0;
}
.slider-area .container {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}
.semi-circle {
  position: absolute;
  height: 100px; 
  width: 200px; 
  border-radius:  0 0 150px 150px;
  padding: 0;
  margin-left: 5rem;
  background-image: radial-gradient(rgb(255,0,0) 0.1rem, transparent 1px);
  background-size: 20px 20px;
}
.slider-area .slider-header h2 {
  font-weight: bold;
  position: relative;
  display: inline-block;
}
.slider-area .slider-header h2:before {
  content: '';
  display: block;
  height: 1px;
  background-color: black;
  width: 1em;
  position: absolute;
  top: 0.5em;
  left: -1.3em; 
}
.slider-area .slider-header h2:after {
  content: '';
  display: block;
  height: 1px;
  background-color: black;
  width: 1em;
  position: absolute;
  top: 0.5em;
  right: -1.3em; 
}
.slider-area .slider-header {
  padding-bottom: 1.5rem;
}
.slider-area .slider-header p {
  color: red;
  font-weight: bold;
  font-size: 2rem;
  margin-top: -9px;
}
.img-area {
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}
.img-area img {
  width: 100%;
}
.testimonials .carousel-caption {
  color: #000;
  position: static;
  margin-top: -15px;
}
.testimonials .carousel-caption p {
  font-size: 1.2rem;
  width: 70%;
  margin: auto;
}
.testimonials .carousel-caption h5 {
  font-weight: bold;
  margin-top: 5px;
} 
.testimonials .carousel-caption h6 {
  font-weight: lighter;
  margin-top: -12px;
}
.testimonials .carousel-control-prev-icon {
  background-image: url('../img/long-arrow-alt-left-solid.svg');
}
.testimonials .carousel-control-next-icon {
  background-image: url('../img/long-arrow-alt-right-solid.svg');
}
/********** END OF HOME **********/



/*** PAGE INTRO [BRIDGE] ***/
.page-hero {
  background-color: black;
  position: relative;
  margin: 5px 0;
}
.page-hero-img {
  background-image: url("../img/farmland.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 160px;
  margin: auto;
  overflow: hidden;
  opacity: 0.29;
}
.page-hero-img-text {
  color: #FFFFE0 !important;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-hero-img-text h3 {
  font-size: 2.5rem;
  font-weight: bold;
}
.page-hero-img-text div {
  font-size: 1.3rem;
  margin-top: -10px;
}
.page-hero-img-text div a {
 text-decoration: none;
 color: #FFFFE0;
}
.page-hero-img-text div span {
  color: rgba(255, 255, 224,.6);
}
/*** END OF PAGE INTRO [BRIDGE] ***/



/********** ABOUT US **********/
.about-us {
  margin-top: 15vh;
}
.about-us .about-us-details h1 {
  font-weight: bold;
  margin-bottom: 5vh;
}
.about-us .about-us-details h1:after {
  content: ""; 
  display: block;
  width: 10%;
  /*margin: 0 auto;*/
  border-bottom: 4px solid red;
}
.about-us .about-us-details p {
  font-size: 1.4rem;
}
.about-us .about-us-img {
  position: relative;
}
.about-us .about-us-img img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
.about-us .about-us-img:after {
  content:'';
  position: absolute;
  background-color: red;
  width: 7px;
  height: 50%;
  bottom: 0;
  right: -10px;
  border-radius: 5px;
}
.about-us .about-us-img:before {
  content:'';
  position: absolute;
  background-color: red;
  width: 25%;
  height: 7px;
  bottom: 0;
  right: -10px;
  border-radius: 5px;
}

/*The three core aim*/
.about-three-core {
  background-color: rgba(0,0,0,0.01);
  color: #000;
  margin-top: 18vh;
  padding: 7vh;
  box-shadow:         0 5px 10px rgba(0,0,0,0.25),
                      0 -5px 10px rgba(0,0,0,0.25);
  -moz-box-shadow:    0 5px 10px rgba(0,0,0,0.25),
                      0 -5px 10px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.25),
                      0 -5px 10px rgba(0,0,0,0.25);
}
.about-three-core .about-three-core-details {
  text-align: center;
}
.about-three-core .about-three-core-details h1 {
  font-weight: bold;
}
.about-three-core .about-three-core-details p {
  font-size: 1.4rem;
}

/* Team Members */
.main-team-members {
  margin-top: 15vh;
  margin-bottom: 15vh;
}
.main-team-members h1 {
  font-weight: bold;
  margin-bottom: 8vh;
}
.main-team-members h1:after {
  content: '';
  width: 9%;
  display: block;
  padding-top: 5px;
  border-bottom: 4px solid red;
}
.main-team-members .team-members-container .card {
  background-color: rgba(255,255,255,0.45);
  box-shadow: 0px 5px 17px -7px rgba(1, 1, 1, 0.55),
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11);
  /*border: none;*/
  margin-bottom: 5vh;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.main-team-members .team-members-container .card.box-shadow-deep {
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}
.main-team-members .team-member-content {
  /*cursor: pointer;*/
  padding: 4vh;
}
.main-team-members .team-members-container .team-member-img {
  width: 250px;
  height: 300px;
  margin: auto;
  border-radius: 10%;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.main-team-members .team-members-container .team-member-img.img-border {
  border: 5px solid red; 
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
}
.main-team-members .team-members-container .team-member-img img {
  width: 100%;
}
.main-team-members .team-member-details h2 {
  font-weight: bold;
  padding-top: 2.3rem;
}
.main-team-members .team-member-details h5 {
  /*letter-spacing: 2px;*/
}
.main-team-members .team-member-content hr {
  width: 20%;
  margin: 0 auto;
  border: 2px solid red;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
}
.main-team-members .team-member-content hr.hr-border {
  width: 12%;
  margin: 0 auto;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.main-team-members .team-member-details p {
  font-size: 1.3rem;
  padding-top: 3vh;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
}
.main-team-members .team-member-details p.text-red {
  color: red;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
/********** END ABOUT US **********/



/********** OUR PRODUCTS **********/
.our-products {
  margin-top: 15vh;
  margin-bottom: 15vh;
}
.our-products-header {
  text-align: center;
}
.our-products-header h1 {
  font-weight: bold;
  margin-bottom: 3vh;
}
.our-products-header h1:after {
  /*content: ""; 
  display: block;
  width: 5%;
  margin: 3.5vh auto;
  border-bottom: 4px solid red;*/
}
.our-products-content {
  margin-top: 15vh;
}
.our-products-content .our-products-details {
  margin-top: 12vh;
}
.our-products-details h1 {
  font-weight: bold;
  margin-bottom: -1vh;
}
.our-products-details p {
  font-size: 1.4rem;
}
.our-products-details-img {
  position: relative;
  width: 40vh;
  /*text-align: center;*/
}
.our-products-details-img img {
  width: 100%;
}
.our-products-details .nutrition-ingrdients h4 {
  font-weight: bold;
}
.our-products-details .nutrition-ingrdients ul {
  margin-left: 7vh; 
}
.our-products-details .nutrition-ingrdients ul li {
  font-size: 1.1rem;
}
/********** END OUR PRODUCTS **********/



/********** CONTACT US **********/
/*** CONTACT FORM and Contact Address ***/
.main-contact {
  margin: auto;
  margin-top: 13vh;
}
.main-contact .contact-form {
  padding-right: 35px;
}
.contact-form input[type="text"], input[type="email"], textarea {
  background-color: #FFFFE0;
  /*border: 1px solid black;*/
}
.contact-form input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  background-color: #FFFFE0;
  box-shadow: none;
  border: 2px solid red;
}
.contact-form input::placeholder {
  color: rgb(0,0,0);
}
.contact-form input::-webkit-placeholder {
  color: rgb(0,0,0);
}
.contact-form input::-moz-placeholder {
  color: rgb(0,0,0);
}
.contact-form input::-ms-placeholder {
  color: rgb(0,0,0);
}
.contact-form button {
  background-color: red;
  color: #FFFFE0;
}
.contact-address {
  background-color: rgba(255,255,255,0.45);
  padding-top: 5vh;
  padding-bottom: 5vh;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
}
.contact-address-container {
  cursor: pointer;
}
.contact-address-container i {
  color: red;
  padding-bottom: 5px;
}
.contact-address-container p {
  font-size: 1.5rem;
  color: black;
}
.contact-address-location, .contact-address-tele {
  font-weight: bold;
}
.contact-form button {
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.contact-form button:hover {
  color: #FFFFE0;
  padding-left: 25px;
  padding-right: 25px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

/*** Location on Google Map ***/
.location-map {
  margin-top: 15vh;
  margin-bottom: 12vh;
}
.location-map .map-tile {
  text-align: center;
}
.location-map .map-tile iframe {
  width: 75%;
  height: 55vh;
  border-radius: 20px;
}
/********** END CONTACT US **********/




/*** PRE-FOOTER ***/
.pre-footer-wrapper {
  position: relative;
  margin-bottom: -4.5vh;
  z-index: 5;
}
.pre-footer-wrapper .pre-footer-img {
  background-color: #ff0504;
  width: 11vh;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11);
}
.pre-footer-wrapper .pre-footer-img img {
  width: 100%;
  padding: 2vh;
}


/*** FOOTER ***/
footer {
  background-color: rgba(0,0,0,0.9);
  color: rgba(255, 255, 224, 0.7);
  font-size: 1.2rem;
  overflow: hidden;
}
footer .footer-1 {
  background-color: rgba(255, 255, 224, 0.05);
  margin-top: 11.5vh;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
}
footer .footer-1 .container {
  margin: auto;
  padding-top: 7vh;
  padding-bottom: 6vh;
}
footer .footer-1 .brief-widget-img {
  padding-bottom: 2.2vh;
}
footer .footer-1 .brief-widget-img img {
  width: 40%;
}
footer .footer-1 h4.h4 {
  display: block;
  color: #FFFFE0;
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 1vh;
}
footer .footer-1 h4.h4:after {
  /*content:'';
  position: absolute;
  display: block;
  width: 5%;
  border-bottom: 2px solid red;*/
}
footer .footer-1 .important-links {
  display: grid;
  grid-template-columns: 5rem 5rem;
}
footer .footer-1 .important-links ul {
  padding: 0;
  margin: 0;
}
footer .footer-1 .important-links ul li {
  display: block;
  line-height: normal;
  list-style: none;
}
footer .footer-1 .important-links ul li a {
  color: inherit;
}
footer .important-links .links-1 ul li:nth-child(2),
footer .important-links .links-2 ul li:nth-child(2) {
  padding-top: 1.3vh;
}
footer .connect-us-wrapper {
  margin-top: 5vh;
}
footer .connect-us-wrapper .connect-icon {
  padding-right: .8rem;
  line-height: normal;
}
footer .connect-us-wrapper .connect-icon i {
  color: red;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
footer .connect-us-wrapper .connect-icon i:hover {
  color: rgba(255, 255, 224, 0.7);
}
footer .footer-1 .widget-contact-info ul {
  padding: 0;
  margin: 0;
}
footer .footer-1 .widget-contact-info ul li {
  display: block;
  line-height: normal;
  list-style: none;
}
footer .footer-1 .widget-contact-info ul li>span {
  display: table-cell;
}
footer .footer-1 .widget-contact-info .contact-info-icon {
  color: red;
  padding-right: 10px;
  vertical-align: top;
}
footer .footer-1 .contact-info-content h5 {
  display: block;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: normal;
  font-weight: bold;
  margin-bottom: 5px;
}
footer .footer-2 p span {
  font-family: 'Acme', sans-serif;
  vertical-align: middle;
}
footer .footer-2 a {
  color: rgba(255, 255, 224, 0.7);
}
/*** END FOOTER ***/



.whatsapp {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 50;
}
.whatsapp a {
  text-decoration: none;
  display: table-cell;
}
.whatsapp a i {
  color: red;
  line-height: normal;
}
.whatsapp a span {
  background-color: rgb(0,0,0);
  color: #FFFFE0;
  border-radius: 6px;
  position: relative;
  bottom: 2.2vh;
  padding: 0.6rem 0.7rem;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
}


/*** MEDIA QUERIES ***/
/*No media query for `xs` since this is the default in Bootstrap*/

/*Extra small devices {xs} (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .semi-circle {
    display: none;
  }
  header img {
    width: 70%;
  }
  .hero-carousel .carousel-item {
    max-height: 150px;
  }
  .welcome-em2gee {
    margin-top: 7vh;
  }
  .welcome-em2gee-box-2,
  .welcome-em2gee-box-3 {
    margin-top: 5vh;
  }
  .em2gee-specials .em2gee-specials-header p {
    font-size: 1.5rem;
  }
  .em2gee-specials-details p {
    padding: 0.7vh .5vh;
  }
  .cooking-pleasure-content h1 {
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 9vh;
    letter-spacing: 0;
  }
  footer .footer-1 .brief-widget,
  footer .footer-1 .links-connect {
    margin-bottom: 40px;
  }

  /*About Us*/
  .about-us {
    margin-top: 7vh;
  }
  .about-three-core .about-three-core-details {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  /*Products*/
  .our-products {
    margin-top: 7vh;
  }
  .our-products-content {
    margin-top: 7vh;
  }

  /*Contact HTML*/
  .main-contact .contact-form {
    margin-bottom: 50px;
  }
  .location-map .map-tile iframe {
    width: 91%;
    height: 55vh;
    border-radius: 15px;
  }

}


/*Small devices {sm} (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  footer .footer-1 .brief-widget,
  footer .footer-1 .links-connect {
    margin-bottom: 40px;
  }
}


/*Medium devices {md} (tablets iPad, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {}


/*Large devices {lg} (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}


/*Extra large devices {xl} (large desktops, 1200px and up)*/
@media (min-width: 1200px) {} 




/* Very Small Width Devices */
@media (max-width: 340.98px) {

  /*** QUICK CONTACT ***/
  .quick-contact a {
    font-size: 0.65rem;
  }
  /*** END QUICK CONTACT ***/
}