@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #FFFFE0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p, li, a {
  /*font-size: 14px;*/
}


/*** MENU BUTTON ***/
.menu-btn {
  position: fixed;
  right: 5px;
  top: 35px;
  width: 25%;
}
.hamburger .line{
  width: 40px;
  height: 4px;
  background-color: #000;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger:hover {
  cursor: pointer;
}
#hamburger-11{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#hamburger-11.is-active{
  animation: smallbig 0.6s forwards;
}
@keyframes smallbig {
  0%, 100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50%{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
#hamburger-11.is-active .line:nth-child(1),
#hamburger-11.is-active .line:nth-child(2),
#hamburger-11.is-active .line:nth-child(3){
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
#hamburger-11.is-active .line:nth-child(2){
  opacity: 0;
}
#hamburger-11.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}
#hamburger-11.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
/*** END MENU BUTTON ***/


/*** PANEL ***/
.panel {
  padding: 50px;
  display: none;
}
.panel div a {
  color: #000;
  display: block;
  font-size: 2.4rem;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 17px;
  transition: 0.5s ease all;
}
.panel div a:hover {
  transform: scaleX(1.3);
  transition: 0.4s ease all;
}
/*** END PANEL ***/


/*** TESTIMONIALS ***/
.slider-area {
  /*background-color: #111;*/
  padding-top: 50px 0;
  position: relative;
  margin: 100px 0;
}
.slider-area .slider-header h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.slider-area .slider-header {
  margin-bottom: 27px;
}
.slider-area .slider-header p {
  color: red;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: -9px;
}
.img-area {
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}
.img-area img {
  width: 100%;
}
.carousel-caption {
  color: #000;
  position: static;
  margin-top: -15px;
}
.carousel-caption p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  width: 70%;
  margin: auto;
}
.carousel-caption h5 {
  font-weight: bold;
} 
.carousel-caption h6 {
  font-weight: lighter;
  margin-top: -12px;
} 
/*** END TESTIMONIALS ***/


/*** FOOTER ***/
hr {
  width: 50%;
}
.footer-menu a {
  color: #000;
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
}
.footer p span {
  font-size: 1.3rem;
}
footer .connect {
  margin-top: -17px; 
}
footer .connect .connect-icon {
  margin-right: 10px;
}
.connect .connect-icon i {
  color: #111;
  width: 15px;
}
/*** END FOOTER ***/



/*** MEDIA QUERIES ***/
/*No media query for `xs` since this is the default in Bootstrap*/

/*Extra small devices {xs} (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {}


/*Small devices {sm} (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {}


/*Medium devices {md} (tablets iPad, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {}


/*Large devices {lg} (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}


/*Extra large devices {xl} (large desktops, 1200px and up)*/
@media (min-width: 1200px) {} 